:root {
  --white-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--white-color);
  line-height: 28px;
  min-width: 320px;
}

button,
input {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  outline: none;
}
.headline-title {
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 40px;
  font-weight: 500;
}

.btn {
  width: 200px;
  background-color: transparent;
  color: inherit;
  border: 2px solid var(--white-color);
  border-radius: 100px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  background-color: white;
  color: #a021db;
}

.form-control {
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 4px;
}

.container {
  min-height: 100vh;
  background-color: #a4508b;
  background-image: linear-gradient(to right top, #a4508b 0%, #a021db 74%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.auth-section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 500px;
  width: 750px;
  margin: 100px auto;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(30px);
  border-radius: 10px;
  z-index: 2;
}

/* :is(.circle1, .circle2)  */
.circle1,
.circle2 {
  background-color: rgba(255, 255, 255, 0.15);
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  height: 300px;
  width: 300px;
  top: -150px;
  left: -50px;
}

.circle2 {
  height: 600px;
  width: 600px;
  bottom: -250px;
  right: -30px;
}

.welcome-message {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 370px;
  padding: 40px;
  height: 100%;
  backdrop-filter: blur(50px);
  border-radius: 8px;
}

.form-wrapper {
  /* width: calc(100% - 350px); */
  flex: 1;
  padding: 40px;
}

.form-group:not(:last-of-type){
  margin-bottom: 16px;
}

.form-wrapper .btn {
    margin-top: 40px;
    text-transform: uppercase;

}


/* Animation */

.fade-in-left {
  animation: fadeInLeft ease-in 1.5s;
  animation-fill-mode: both;
}

.fade-in-right {
  animation: fadeInRight ease-in 1.5s;
}

.fade-in-down{
  animation: fadeInDown ease-in 1.5s;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(150px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(150px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive */

@media only screen and (max-width: 850px) { 
  .auth-section { 
    max-width: 600px;
  }

  .welcome-message {
    max-width: 300px;
  }
}

@media only screen and (max-width: 650px) { 
  .auth-section { 
    flex-wrap: wrap;
    max-width: 75%;
    height: auto;
  }

  .welcome-message {
    height: auto;
    max-width: 100%;
    width: unset;
  }
}

@media only screen and (max-width: 500px) { 
  .auth-section { 
    max-width: 90%;
  }
  .welcome-message,
  .form-wrapper {
    padding: 24px;
  }
  .headline-title {
    margin-bottom: 24px;
  }
}